{% extends "index.html" %}
{% load static %}

{% block content %}

    <table class="container-fluid">
    <div style="margin: 10px;">
        <button onclick="start_polling(1)" type="button" class="btn btn-info">Start Polling</button>
        <button onclick="stop_polling(0)" type="button" class="btn btn-danger">Stop Polling</button>
        <div id="polling_div">Polling</div>
    </div>
        <tr>
            <th>Inputs</th>
            {% for input_name in input_name_list %}
                {% if forloop.counter0|divisibleby:8 %}
                    </tr>
                    <tr>
                {% endif %}
                <td>{{ input_name }}</td>
                <td>
                    <input id="ickb{{ forloop.counter0 }}" type="checkbox" data-toggle="toggle"
                           onchange="post()" data-onstyle="info" data-offstyle="default"
                           data-style="togglestyle">
                </td>
            {% endfor %}
            </tr>
        <tr>

            <th>Outputs</th>
            {% for output_name in output_name_list %}
                {% if forloop.counter0|divisibleby:8 %}
                    </tr>
                    <tr>
                {% endif %}
                <td>{{ output_name }}</td>
                <td>
                    <div class="circle" id="output_{{ forloop.counter0 }}"></div>
                </td>
            {% endfor %}
            </tr>
    </table>
    <script>

    </script>

    <script type="text/javascript">
        input_list = [];
        for (input in {{ input_name_list|safe }}) {
            $('#ickb' + input).bootstrapToggle();
            input_list.push('#ickb' + input);
        }

        function run_test() {
            $.ajax({
                type: "GET",
                url: "/api/run_test",
                success: function (response) {
                    console.log(response);
                }
            })
        }

        function post() {
            json_obj = {};
            arr = [];
            str_1 = "";
            for (i = 0; i < input_list.length; i++) {
                state = $(input_list[i]).is(':checked');
                json_obj[i] = state;
            }
            console.log(json_obj);
            $.ajax({
                type: "POST",
                url: "/api/set_data",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    data_out: JSON.stringify(json_obj),
                    plc_type: "{{ plc_type }}"
                },
                success: function (response) {
                    console.log(response);
                }
            })
        }

        var interval;

        function start_polling() {
            $('#polling_div').css('color', 'green');
            interval = setInterval(function () {
                arr = [];
                $.when(
                    $.ajax({
                        type: "GET",
                        url: "/api/get_data",
                        data: {
                            plc_type: "{{ plc_type }}"
                        },
                        success: function (response) {
                            data = response;
                        }
                    }).then(function () {
                        for (i = 0; i < data.length; i++) {
                            console.log(data[i]);
                            if (data[i] == 1) {
                                $('#output_' + i).css('background-color', 'green');
                            } else {
                                $('#output_' + i).css('background-color', 'lightgray');
                            }
                        }
                    })
                )
            }, 1000);
        }

        function stop_polling() {
            $('#polling_div').css('color', 'gray');
            clearInterval(interval);
        }
    </script>

{% endblock %}