{% extends "index.html" %}
{% load static %}

{% block navbar %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <div>Testing</div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    <select id="selector" onchange="reload()" class="form-control" style="margin-top:2%;">
        {% for test in test_names %}
            {% if test.name == chosen %}
                <option id="test.id" selected>{{ test.name }}</option>
            {% else %}
                <option id="test.id">{{ test.name }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <div style="margin: 25px;">
        <button onclick="run_test()" type="button" class="btn btn-success">Run Test</button>
    <button onclick="delete_test()" type="button" class="btn btn-danger">Delete Test</button>
    </div>

    <table>
        {% for test_case in test_cases %}
            <tr>
                <td>
                    <h2>Test Case:
                        {{ test_case.test_case_name }}
                    </h2>
                </td>
            </tr>
        {% endfor %}
    </table>



    <script type="text/javascript">
        function reload() {
            test_name = $("#selector").find(":selected").text();
            window.location.href = "/testing?test_name=" + test_name;
        }

        function run_test() {
            test_name = $("#selector").find(":selected").text();
            window.location.href = "/test_results?test_name=" + test_name;
        }

        function delete_test() {
            test_name = $("#selector").find(":selected").text();
            window.location.href = "/test_delete?test_name=" + test_name;
        }
    </script>

{% endblock %}